body{
    font-family: 'Orelega One', cursive;
    display: grid;
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(170deg,#b621fe, #1fd1f9);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 1;

}
.signup-box{
    width: 400px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
}
.title{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #444444;
    margin: 20px 0 70px 0 ;
}
.sec{
    text-align: center;
    font-size: 15px;
    font-weight:normal;
    font-family:'Times New Roman', Times, serif;
    color: #444444;
    margin: 20px 0 70px 0 ;
    

}

.area{
    width: 100%;
    overflow: hidden;
    border: none;
    background-color:white;
    
    margin: 16px 0;  
    
}
.area input{
    border: none;
background-color:#D0D3D4 ;
    width: 100%;
    padding: 8px 0;
    color: #333333;
    font-weight: 600;
}



.row{
    content: "";
    display: table;
    clear: both;
    
}
.col{
    float: left;
    width: 50%;
}
.textboxtop{
 width: 99%;
 border-color: lightsteelblue;



}
.textboxtop input{
    border: none;
    background-color:#D0D3D4;
    width: 99%;
    padding: 8px 0;
    color: #333333;
    font-weight: bold;

}
.textbox{
    width: 100%;
    overflow: hidden;
    border: none;
    background-color:white;
    
    margin: 16px 0;
}
.textbox input{
    
    border: none;
background-color:#D0D3D4 ;
    width: 100%;
    padding: 8px 0;
    color: #333333;
    font-weight: 600;
    
}


.button input{
    width:90%;
    border-radius: 50px;
    padding: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
    color: white;
    background-image:linear-gradient(150deg, #b621fe, #1fd1f9);

}
.button input:hover{
    background-image:linear-gradient(-150deg, #b621fe, #1fd1f9);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.terms{
    text-align: center;
    font-weight:normal;
    font-family: 'Times New Roman', Times, serif;
    color: #444444;
    margin: 20px 0 70px 0 ;


}
